.players {
    width: 372px;
    background: #191C26;
    border-radius: 12px;
}

.header {
    display: flex;
    padding: 16px;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 1px solid #202430;
    border-radius: 12px 12px 0px 0px;
    backdrop-filter: blur(10px);
    background: linear-gradient(90deg, rgba(25, 28, 38, 0.80) 0.02%, rgba(25, 28, 38, 0.75) 99.98%);
    align-items: center;
    gap: 8px;
    color: #fff;
}

.jackpot__light1 {
    position: absolute;
    z-index: 0;
    opacity: 0.55;
    filter: blur(54px);
    flex-shrink: 0;
    left: -20%;
    transform: rotate(40grad);
}

.badge {
    display: flex;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #263475;
    color: #5271FF;
    font-size: 14px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.list__header {
display: flex;
}
