.main {
    position: fixed;
    bottom: 0;
    margin-top: 80px;
    z-index: 1;
    right: 0;
    width: 25%;
    height: calc(100% - 80px);
    background-color: #191C26;
    border-top-left-radius: 16px;
}

.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header {
    padding: 18px 24px 18px 16px;
    border-bottom: 1px solid #202430;
}


.title {
    gap: 6px
}

.title h2 {
    color: #FFFFFF;
}

.online {
    align-items: center;
    gap: 5px;
}

.online h3 {
    color: #555A71;
}

.content {
    margin-top: 2px;
    flex-grow: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: content-box;
    overflow-y: scroll;
}

.sendMessage {
    height: 92px;
    border-top: 1px solid #202430;
    padding: 24px 24px 24px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sendMessage input {
    border-radius: 8px;
    padding: 10px 14px 10px 14px;
    color: #555A71;
    border: 1px solid #262A37;
    background-color: #202430;

}

.sendMessage input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #555A71;
    opacity: 1; /* Firefox */
}

.sendMessage input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #555A71;
}

.sendMessage input::-ms-input-placeholder { /* Microsoft Edge */
    color: #555A71;
}

.sendMessage button {
    width: 44px;
    height: 44px;
    background-color: #202430;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}