.livePayoutsContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: #191C26;
  border-radius: 0 0 12px 12px;
  width: 100%; 
  overflow: auto; 
  padding: 16px;
}

.tableHeader {
  gap: 10px;
  border-radius: 8px;
  background: #13161E;
  color: #4A4E62;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 8px 16px;
  
}

.tableHeader,
.tableItem {
  display: flex;
  justify-content: space-between;
}


.tableHeader p,
.tableItem p {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableItem:first-child {
  margin-top: 0;
}

.tableItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 16px;
  border-radius: 8px;
  background: #262A37;
  color: white;
  margin-top: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}


.tableItem:nth-child(even) {
  background: #202430;
}

.header {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
  border-bottom: 1px solid #202430;
  background: #191C26;
  color:  #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 
  border-radius: 12px 12px 0 0;
}
.time{
  color: #797E95;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.openButton {
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #5271FF;
  background: #5271FF;
  color: white; 
}

.status {
  display: inline-block;
  padding: 0 6px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.statusProcess {
  background:  #442B15;
  color: #F2994A;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.statusResolved {
  background:  #062D24;
  color:  #17A07F;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.statusClosed {
  background: #3A2329;
  color: #FE4F4F;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}
@media (max-width: 768px) {
  .tableHeader p:nth-child(0), .tableHeader p:nth-child(1), .tableHeader p:nth-child(2), .tableHeader p:nth-child(3), .tableItem p:nth-child(0), .tableItem p:nth-child(1) , .tableItem p:nth-child(2), .tableItem p:nth-child(3) {
    display: none;
  }
}
@media (max-width: 520px) {
  .tableHeader p:nth-child(0), .tableHeader p:nth-child(1), .tableHeader p:nth-child(2), .tableHeader p:nth-child(3), .tableItem p:nth-child(0), .tableItem p:nth-child(1) , .tableItem p:nth-child(2), .tableItem p:nth-child(3) {
    display: none;
  }
}
@media (max-width: 420px) {
  .tableHeader p:nth-child(0), .tableHeader p:nth-child(1), .tableHeader p:nth-child(2), .tableHeader p:nth-child(3), .tableItem p:nth-child(0), .tableItem p:nth-child(1) , .tableItem p:nth-child(2), .tableItem p:nth-child(3) {
    display: none;
  }
}
@media (max-width: 360px) {
  .tableHeader p:nth-child(0), .tableHeader p:nth-child(1), .tableHeader p:nth-child(2), .tableHeader p:nth-child(3), .tableItem p:nth-child(0), .tableItem p:nth-child(1) , .tableItem p:nth-child(2), .tableItem p:nth-child(3) {
    display: none;
  }
}
