.container {
    width: 900px;
    margin: 24px auto;
    position: relative;
    z-index: 2;
  }
.greenbg{
  top: 0;
  z-index: 1;
  position: absolute;
  margin-left: -130px;
}
  
  .FAQ_container {
    background: #191C26;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    width: 900px;
    padding: 16px;
    max-width: 100%;
    margin: 24px auto;
    border-radius: 12px;
  }
  
  .headerContainer {
    background: linear-gradient(90deg, rgba(25, 28, 38, 0.80) 0.02%, rgba(25, 28, 38, 0.75) 99.98%);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
  }
  
  .headerContent {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
  }
  
  .headerContainer h1 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
  }
  
  .subtext {
    color: #555A71;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  .supportButton {
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid  #263475;
    background:  #263475;
    color:  #5271FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
  }
  
  .faqSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    width: 900px;
    padding: 16px;
    border-radius: 12px;
    background: #191C26;
    align-items: start;
  }
  
  .faqColumn {
    flex: 1;
    padding: 16px;
  }
  
  .faqItem {
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 8px;
    background: #202430;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 12px auto;
  }
  
  .faqContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .toggleButton {
    font-size: 18px;
    cursor: pointer;
  }
  
  .faqAnswer {
    display: none;
    width: 100%;
    padding: 12px;
    color: #555A71;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
  }
  
  .faqItem.active .faqAnswer {
    display: block;
  }
  
  .faqSection {
    grid-gap: 20px;
  }

  .hedfaq{
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .FAQ_adapt{
    display: none;
  }

@media screen and (max-width: 360px) {
  .FAQ_container{
    display: none;
  }
  .faqSection{
    grid-template-columns: repeat(1, 1fr);
    width: 320px;
  }
  .container{
    width: 320px;
  }
  .faqColumn{
    padding: 0;
  }
  .FAQ_adapt{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  .FAQ_adapt h1{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
  }
  .headerContaineradpt{
    background: linear-gradient(90deg, rgba(25, 28, 38, 0.80) 0.02%, rgba(25, 28, 38, 0.75) 99.98%);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    padding: 16px;
  }

}
  