.main{
    display: flex;
    gap: 12px;
    padding: 0px 24px 24px 16px;
    align-items: flex-start;
}

.avatar {
    min-width: 40px;
    min-height: 40px;
    border-radius: 8px;
    background-color: white;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper{
    display: flex;
    align-items: flex-start;
    text-align: center;
    width: 100%;

    justify-content: space-between;
}

.name{
    display: flex;
    gap: 6px;
}

.name h2{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    color: #666B84;
}

.name h3{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    margin-top: 1px;
    padding: 0px 6px 0px 6px;

    color: #5271FF;
}

.me{
    border-radius: 16px;
    background-color: #263475;
    color: #5271FF;
    height: 18px;
    padding: 0px 6px 0px 6px;
}

.time{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    color: #667085;
}

.message{
    min-width: 100%;
    min-height: fit-content;
    background-color: #2C303F;
    border-radius: 0px 8px 8px 8px;
    padding: 10px 14px;
    margin-top: 6px;


}

.message h3{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    color: #FFF;
}