@tailwind base;
@tailwind components;
@tailwind utilities;

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-body: #191c26;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background-body);
    /* display: flex; */
    width: 100vw;
}

body::-webkit-scrollbar {
    width: 0px;
}

p {
    line-height: 20px;
}

aside {
    position: sticky;
    top: 0px;
    width: 80px;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

aside ul.game-list li a {
    color: #4a4e62;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #202430;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: .3s;
}

aside ul.game-list li a:hover {
    background: #202843;
    transition: all .5s ease-in;
}

aside ul.game-list li svg {
    width: 20px;
    height: 20px;
}

aside ul.game-list li a span {
    display: none;
}

main {
    background: #13161e;
    border-radius: 24px 0px 0px 24px;
    width: 100%;
}

.wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
}

header {
    padding: 18px 24px;
    display: flex;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-right: 40px;
}

header ul.navigation {
    display: flex;
}

header ul.navigation li {
    margin-right: 24px;
}

header ul.navigation li a {
    color: #4a4e62;
    font-size: 14px;
}

header .btn {
    background: #202430;
    border-radius: 8px;
    padding: 0 12px;
    margin-left: 8px;
    height: 44px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

header .btn.blue {
    background: #5271ff;
    margin-right: 35px;
}

header .btn img.avatar {
    margin-right: 10px;
}

header .btn.dropdown {
    padding-left: 4px;
    margin: 0 16px;
}

header .btn.dropdown::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url("/chevron-down.svg");
    margin-left: 8px;
    transition: 0.2s;
}

header .btn.sum span {
    color: #353949;
}

header .btn.sum::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("/cash.svg");
    margin-right: 8px;
}

.dropdown-list {
    background: #202430;
    border-radius: 8px;
    border: 1px solid #262a37;
    max-height: 500px;
    overflow-x: auto;
}

.dropdown-list::-webkit-scrollbar {
    width: 5px;
}

.dropdown-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.dropdown-list::-webkit-scrollbar-thumb {
    background-color: #555a71;
    border-radius: 10px;
}

.dropdown-list.account {
    margin-right: 16px;
}

.dropdown-item {
    display: block;
    padding: 10px 16px;
    font-size: 14px;
    color: #555a71;
    font-weight: 500;
    display: flex;
    gap: 12px;
    align-items: center;
}

.dropdown-list .divider {
    border-color: #262a37;
}

.dropdown-item.logout {
    color: #d04141;
}

.notification {
    flex-direction: column;
    align-items: start;
    gap: 7px;
    font-size: 12px;
    color: #666b84;
    font-weight: 400;
    border: 0;
    padding: 12px 16px 12px 28px;
    border-bottom: 1px solid #262a37 !important;
    position: relative;
}

.notification.active::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5271ff;
    position: absolute;
    top: 19px;
    left: 16px;
}

.notification:last-child {
    border: 0 !important;
}

.notification .title {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.notification .date {
    font-weight: 500;
}

.notification-header {
    border-bottom: 1px solid #262a37 !important;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
}

.notification-header span {
    color: #5271ff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-image: url('/main_section_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
}
.main-section_cards,.how-it-works,
.recommended-game,
.vip-system,
.live-payouts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 90px;
}

.secondtitlet{
    color:#797E95;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
}

.secondtitleb{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    padding-bottom: 40px;
}

.how-it-works h2,
.recommended-game h2,
.vip-system h2,
.live-payouts h2{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;
}
.h1onpage {
    color: #FFF;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: -1.6px;
}

.abouttext{
    color: #555A71;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-top: 8px;
    padding-bottom: 40px;
}

.subtextmain{
    color: #555A71;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
}

.join-button {
    border: none;
    cursor: pointer;
    display: flex;
    box-shadow: 0px 4px 0px 0px #263475;
    margin-top: 40px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: linear-gradient(180deg, #617DFF 0%, #5271FF 100%);

    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cardmain {
    border-radius: 12px;
    border: 1px solid #202430;
    background: #191C26;
    backdrop-filter: blur(10px);
    display: flex;
    width: 314px;
    height: 196px;
    padding: 24px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    user-select: none;
}

.cardtt{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-top: -4px;
}

.cardut{
    color: #555A71;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -18px;
}

.colums {
    display: grid;
    gap: 24px;
    grid-template-columns: 372px 504px;
}

.hiw-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cardhiw{
    display: flex;
    width: 314px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    user-select: none;
    border-radius: 12px;
    background: linear-gradient(99deg, #191C26 0%, rgba(25, 28, 38, 0.35) 100%);
    backdrop-filter: blur(10px);
}

.hiwtt{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
}

.hiwut{
    color: #555A71;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: -8px;
}

.join-button-hiw{
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #17A07F;
    background: #17A07F;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    margin-top: 56px;
}

.rec-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.cardrec{
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    background: #191C26;
}

.playnow{
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #5271FF;
    width: 100%;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.rec-pay{
    display: flex;
    width: 990px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(82, 113, 255, 0.48) 0%, rgba(82, 113, 255, 0.00) 20%), linear-gradient(90deg, rgba(82, 113, 255, 0.25) 0%, rgba(82, 113, 255, 0.03) 100%);
    margin-top: 60px;
}

.recbut{
    border-radius: 8px;
    padding: 0 12px;
    margin-left: 8px;
    height: 44px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    background: #5271ff;
}