.block .header {
    background: linear-gradient(90deg, rgba(25, 28, 38, 0.80) 0.02%, rgba(25, 28, 38, 0.75) 99.98%);
    border-bottom: 1px solid #202430;
    padding: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.block {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 24px;
    color: #555a71;
    font-size: 14px;
    font-weight: 400;
}
.block .header img.icon {
    width: 20px;
    height: 20px;
}
.block .title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 8px;
}
.block .content {
    background: #191c26;
    padding: 16px;
}
.divider {
    border-bottom: 1px solid #202430;
}
