.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 830px;
    margin: 24px auto 140px auto;
}

.allgames{
    width: 100%;
    background: #191C26;
    border-radius: 12px;
    margin-top: 12px;
}

.header {
    display: flex;
    padding: 16px;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-radius: 12px 12px 0 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #202430;
    background: linear-gradient(90deg, rgba(25, 28, 38, 0.80) 0.02%, rgba(25, 28, 38, 0.75) 99.98%);
    align-items: center;
    gap: 8px;
    color: #fff;
}

.coinflip__light1{
    position: absolute;
    z-index: 0;
    opacity: 0.55;
    filter: blur(54px);
    flex-shrink: 0;
    left: -20%;
    transform: rotate(40grad);
}

.body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    gap: 14px;
    border-radius: 0 0 12px 12px;
    background: #191C26;
}

.gameinfo{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 33px;
    align-self: stretch;
    border-radius: 12px;
    background: #13161E;

}

.playernotfound{
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #202430;
}

.player {
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #202430;

    color: #666B84;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.money{
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    background: #191C26;

    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.centergamewait{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.vs{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 125% */
    letter-spacing: -0.96px;
}

.activegame{
    color: #17A07F;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */

    display: flex;
    padding: 0 6px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #062D24;
}

.shieldbuttoninactive{
    border-radius: 8px;
    border: 1px solid #151821;
    background: #151720;
    display: flex;
    width: 36px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.shieldbuttonactive{
    display: flex;
    width: 36px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #202430;
    background: #191C26;
    transition: .2s;
}

.shieldbuttonactive:hover{
    background: #202430;
    transition: all .2s ease-in;
}

.num{
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 126.667% */

    display: flex;
    width: 56px;
    height: 56px;
    padding: 9px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 71px;
    background: #191C26;
}

.join_button{
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: linear-gradient(180deg, #617DFF 0%, #5271FF 100%);
    box-shadow: 0 4px 0 0 #263475;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    border: none;
}

.join_button:active {
    box-shadow: none;
    transform: translateY(4px);
}


