.game {
    width: 100%;
    background: #191C26;
    border-radius: 12px;
    margin: 40px 0 140px 0;
}

.header {
    display: flex;
    padding: 16px;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-bottom: 1px solid #202430;
    border-radius: 12px 12px 0 0;
    backdrop-filter: blur(10px);
    background: linear-gradient(90deg, rgba(25, 28, 38, 0.80) 0.02%, rgba(25, 28, 38, 0.75) 99.98%);
    align-items: center;
    gap: 8px;
    color: #fff;
}

.jackpot__light1 {
    position: absolute;
    z-index: 0;
    opacity: 0.55;
    filter: blur(54px);
    flex-shrink: 0;
    left: -20%;
    transform: rotate(40grad);
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    flex-direction: column;
}

.list__header {
    display: flex;
    background: #13161E;
    padding: 8px 0 8px 0;
    width: 100%;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
}

.list__header p {
    color: #4A4E62;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
}

.playersection {
    background: #262A37;
    flex-direction: row;
    display: flex;
    width: 100%;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    margin-top: 8px;
}

.prof {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gamenum , .time{
    color: #797E95;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.winner {
    margin-left: 10px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.prizesection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prize {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    margin-left: 6px;
}

.chance {
    border-radius: 16px;
    background: #2C303F;

    display: flex;
    padding: 0 6px;
    justify-content: center;
    align-items: center;

    color: #666B84;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}