.livePayoutsContainer {
    display: flex;
    width: 990px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    border-radius: 12px;
    background: var(--black-50, #191C26);
  }
  
  .tableHeader {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--black-25, #13161E);
    color: var(--black-600, #4A4E62);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
  }
  
  .tableItem {
    display: flex;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  
  .tableItem:nth-child(even) {
    background: var(--black-100, #202430);
  }

.buttonGroup button {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--black-50, #191C26);
    color: white; 
    cursor: pointer;
    border: none; 
  }
  
  .buttonGroup button.active {
    background: var(--primary-50, #202843);
    color: var(--primary-400, #5271FF);
  }
  
  .buttonGroup button:hover {
    background: var(--primary-50, #202843);
    color: var(--primary-400, #5271FF);
  }
  