.livePayoutsContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: #191C26;
    border-radius: 12px;
    width: 100%; 
    max-width: 990px; 
    overflow: auto; 
    padding: 16px;
  }
  
  .tableHeader {
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: #13161E;
    color: #4A4E62;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    padding: 8px 16px;
  }

  .tableHeader p:nth-child(1),
  .tableItem p:nth-child(1) {
    width: 160px; 
  }
  
  .tableHeader p:nth-child(2),
  .tableItem p:nth-child(2) {
    width: 160px;
  }
  
  .tableHeader p:nth-child(3),
  .tableItem p:nth-child(3) {
    width: 458px; 
  }
  
  .tableHeader p:nth-child(4),
  .tableItem p:nth-child(4) {
    width: 180px; 
  }
  .tableItem:first-child {
    margin-top: 0;
  }
  .tableItem {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 16px;
    border-radius: 8px;
    background: #262A37;
    color: white;
    margin-top: 8px;
  }
  
  .tableItem:nth-child(even) {
    background: #202430;
  }

.view-button{
  padding: 10px 14px;
  border-radius: 8px;
  background: #191C26;
  color: white;
  cursor: pointer;
  border: none;
}
.buttonGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.buttonGroup .viewButton {
  padding: 10px 14px;
  border-radius: 8px;
  background: #191C26;
  color: white;
  cursor: pointer;
  border: none;
}
.buttonGroup .viewButton.active {
  background: #202843;
  color: #5271FF;
}

  