.livePayoutsContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: #191C26;
    border-radius: 12px;
    width: 100%; 
    max-width: 990px; 
    overflow: auto; 
    padding: 16px;
  }
  
  .tableHeader {
    gap: 10px;
    border-radius: 8px;
    background: #13161E;
    color: #4A4E62;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    padding: 8px 16px;
    
  }

  .tableHeader,
  .tableItem {
    display: flex;
    justify-content: space-between;
  }
  
  .tableHeader p,
  .tableItem p {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .tableItem:first-child {
    margin-top: 0;
  }
  
  .tableItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 16px;
    border-radius: 8px;
    background: #262A37;
    color: white;
    margin-top: 8px;
  }
  
  
  .tableItem:nth-child(even) {
    background: #202430;
  }

.view-button{
  padding: 10px 14px;
  border-radius: 8px;
  background: #191C26;
  color: white;
  cursor: pointer;
  border: none;
}
.buttonGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.buttonGroup .viewButton {
  padding: 10px 14px;
  border-radius: 8px;
  background: #191C26;
  color: white;
  cursor: pointer;
  border: none;
}
.buttonGroup .viewButton.active {
  background: #202843;
  color: #5271FF;
}

.amount_txt {
  display: inline-block;
  padding: 0px 6px;
  border-radius: 16px;
  background: var(--black-300, #2C303F);
  color: var(--black-800, #666B84);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
}
.amount{
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
}
.time{
  color: #797E95;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}